@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;900&display=swap');


*{
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
 font-family: 'Inter', sans-serif;
}
html, body{
  position: relative;
  overflow: hidden;
}
html{

  font-size: 100%;
}
body{
  font-size: 100%;
  height: 100vh;
  background: linear-gradient( 90deg, #000 ,cadetblue 50%,  #9747ffb9  40%, rgba(0, 0, 0, 0.856));
  
}

header{
  background: #000;
  padding: 30px 15px;
  
}

header .container{
  display: flex;
  justify-content: space-between;
 
}
.container h1{
 color: #fff;
 font-weight: 400;

}
.container .nav-bar .menu{
  display: flex;
  list-style: none;
  margin-right: 90px;
}
.nav-bar .menu li {
  margin-left: 70px;
}
.nav-bar .menu li a {
  text-decoration: none;
  color: #f0f8ffce;
  font-size: 1.4rem;
  font-weight: 300;
  transition: all 0.4s;
}
.nav-bar .menu li a:hover{
  color: #9747ffb9;
}
.corpo{
 margin-left: 130px;
 display:flex;
 flex-direction: column;
 justify-content: center;
 padding-top: 70px;

}
.corpo h1{
  padding-top: 110px;
  line-height: 90px;
  
  font-style: bold;
  font-size: 3.3rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.roxo{
  color: cadetblue;
}
.paragrafo p{
  color: #fff;
  font-weight: 300;
}

.button{
  padding: 40px 0;
  
 
}
.button button{
  padding: 10px 50px;
  background-color: #9747FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.4s;
}
.button button:hover{
  background-color: #9747ffb9;
}



.rodape ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 30px;
}
.rodape ul li {
 margin-top: 170px;
 width: 40vw;
 
  
}
.rodape ul li a{
  padding-bottom: 2px;
 color: #ffffff9c;
 text-decoration: none;
 border-bottom: 1px solid #fff;
}
#btn-mobile{
  display: none;
}

@media (max-width: 1320px){
  .corpo h1{
    font-size: 2.8rem;
  }
}
@media (max-width:1194px){
  .corpo h1{
    font-size: 2.3rem;
  }
}
@media (max-width:1057px){
 html{
  font-size: 90%;
 }
 
}
@media (max-width: 1000px){
 html{
  font-size: 80%;
 }
 

 }
 header{
  padding: 20px 15px;
 }

@media (max-width:952px) {
  html{
    font-size: 80%;
  }
  header{
    padding: 20px 15px;

  }

 /* ------------NAV BAR---------------*/
   .bar{
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 2px;
    margin:  5px auto;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
   }

 .amburguer{
  
  display: block;
}

 
 .menu.on{
  display: flex;
 }
 

}
@media (max-width:952px){

 

}
@media (max-width:952px){
  .amburguer.active .bar:nth-child(2){
    opacity: 0;
  }
  .amburguer.active .bar:nth-child(1){
    transform: translate( 10px) rotate(48deg);
  }
  .amburguer.active .bar:nth-child(3){
    transform: translate( -8x) rotate(-49deg);
  }
  .menu{
    top: 70px;
    position: absolute;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background: #000;
    text-align: center;
    flex-direction: column;
    width: 50%;
    height: 70%;
    transition: 0.3s;
    right: -100%;
  
  }
  
 
  .nav-item{
    line-height: 80px;
    margin-right: auto;
    text-align: center;
  }
  .menu.active{
    right: -90px;
  }
}






 



